<div class="container-fluid mt-3 ml-2 d-flex justify-content-center row">
  <div>
  <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
      <div class="row">
        <label>Ask your coach anything:</label>
        <div class="col">
          <input class="rounded border border-secondary" type="text" name="question" placeholder="Ask a question">
          <input class="bg-primary text-white rounded border border-secondary" type="submit" value="Ask!">
        </div>
      </div>
    </form>
  </div>
</div>
